# Sistema Operacional - Linux
*~
*.swp
*.swo
.DS_Store
._*
.Trashes
Thumbs.db
.nfs*

# Configurações do VSCode
.vscode/
*.code-workspace

# Arquivos e diretórios do Java
*.class
*.jar
*.war
*.ear
*.nar
*.java
*.log
*.javadoc
*.out
hs_err_pid*
*.hprof
.mvn/
target/
build/
build.gradle
build/

# Diretórios Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea/*

# Configurações do Quarkus
target/
.quarkus/
.quarkus.log
.quarkus-profile-log.properties

# Arquivos de logs
logs/
*.log

# MySQL
*.sql
mysql-data/
mysql-backups/

# Outros
bin/
*.bak
*.old
*.tmp
*.backup
*.orig
